[class*="entypo-"]:before { font-family: 'entypo', sans-serif; }
body {
  background-color: #ecf0f1;
  font: 300 1.25em/1.4 "Lato", sans-serif;
  color: #686868;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1, .sub-heading {
  text-align: center;
  margin: .5rem 0 1rem;
}
.sub-heading {
  font-size: .75em;
  font-weight: 300;
}
._grid {
  text-align: center !important;
}
._grid:after {
  display: block;
  width: 100%;
}
._column {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  text-align: left;
  text-rendering: optimizeLegibility;
}
._btn {
  display: inline-block;
  background-color: #bdc3c7;
  border: none;
  padding: .5em .75em;
  text-align: center;
  font-weight: 300;
}
 .shopping-cart--list {
  display: flex;
  flex-wrap: wrap;
}
.product-info {
  width: 50%;
  padding: .5rem;
}
.product-name {
  letter-spacing: -.025em;
  margin: 0 0 .125em;
}
.price {
  line-height: 1;
  text-align: right;
}
.product-single-price {
  margin-top: -1rem;
  font-size: 2.4em;
}
.product-modifiers {
  width: 25rem;
  text-align: center;

}
.product-subtract,
.product-plus {
  width: 20%;
  background-color: transparent;
  color: #686868;
  text-align: center;
  border: solid 3px;
  border-color: #686868;
  border-radius: 3px;
}

.product-subtract:hover,.product-plus:hover {
background-color: white;
color: black !important;
}

.product-qty {
  padding: .35em .75em;
}

.product-total-price {
  border-top: 3px solid white;
  color: #95a5a6;
  font-size: 1.25em;
  padding: .5rem;
}
.cart-totals {
  border-top: 1px solid #bdc3c7;
  margin-bottom: 3rem;
  color:  white;
}
.cart-totals ._column {
  width: 10.984013%;
  padding: .5rem;
  line-height: 1.2;
}
.cart-totals ._column:not(:last-of-type) {
  border-right: 1px solid #bdc3c7;
}
.cart-totals ._column:first-of-type {
  padding-left: 0;
}
.cart-totals-key {
  font-size: 1.125em;
  color: #bdc3c7;
}
.cart-totals-value {
  font-size: 2em;
}
._column.checkout {
  text-align: right;
  padding: 0;
  margin-top: 1.5em;
  vertical-align: middle;
}
.checkout-btn:before {
  margin-left: .5em;
}
._btn.checkout-btn {
  background-color: #4A1663;
  color: white;
}
.cart-totals * {
  transition: all .2s ease;
}